<!--========================================================= 
    Item Name: Ekka - Ecommerce HTML Template.
    Author: ashishmaraviya
    Version: 2.0
    Copyright 2021-2022
	Author URI: https://themeforest.net/user/ashishmaraviya
 ============================================================-->
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from loopinfosol.in/themeforest/ekka-html-v2/ekka-html/user-profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Nov 2021 19:18:42 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Ekka - Ecommerce HTML Template.</title>
    <meta name="keywords"
        content="apparel, catalog, clean, ecommerce, ecommerce HTML, electronics, fashion, html eCommerce, html store, minimal, multipurpose, multipurpose ecommerce, online store, responsive ecommerce template, shops" />
    <meta name="description" content="Best ecommerce html template for single and multi vendor store.">
    <meta name="author" content="ashishmaraviya">

    <!-- site Favicon -->
    <link rel="icon" href="assets/images/favicon/favicon.png" sizes="32x32" />
    <link rel="apple-touch-icon" href="assets/images/favicon/favicon.png" />
    <meta name="msapplication-TileImage" content="assets/images/favicon/favicon.png" />

    <!-- css Icon Font -->
    <link rel="stylesheet" href="assets/css/vendor/ecicons.min.css" />

    <!-- css All Plugins Files -->
    <link rel="stylesheet" href="assets/css/plugins/animate.css" />
    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/countdownTimer.css" />
    <link rel="stylesheet" href="assets/css/plugins/slick.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/nouislider.css" />
    <link rel="stylesheet" href="assets/css/plugins/bootstrap.css" />

    <!-- Main Style -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />

    <!-- Background css -->
    <link rel="stylesheet" id="bg-switcher-css" href="assets/css/backgrounds/bg-4.css">
    <style>
        #addressList {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #addressList td,
        #addressList th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #addressList tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #addressList tr:hover {
            background-color: #ddd;
        }

        #addressList th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #242531c9;
            color: white;
        }
    </style>

</head>

<body class="shop_page">
    <div id="ec-overlay"><span class="loader_img"></span></div>

    <!-- Header start  -->

    <!-- Header End  -->
    <!-- Modal -->


    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="form-address" class="ec-check-bill-form">
                        <form action="" id="checkout-form">
                            <span class="ec-bill-wrap ec-bill-half">
                                <label>First Name*</label>
                                <input id="fname" type="text" name="name" placeholder="Enter your Name">
                                <div class="invalid-feedback text-danger mb-3" id="name-Text">enter
                                    your Name</div>
                            </span>

                            <span class="ec-bill-wrap ec-bill-half">
                                <label>Number*</label>
                                <input id="numberValidation" type="text" name="number" placeholder="Enter your Number"
                                    maxlength="10" />
                                <div class="invalid-feedback text-danger mb-3" id="text-Number">
                                    Enter your phone number </div>
                            </span>
                            <span class="ec-bill-wrap">
                                <label>Address</label>
                                <input type="text" id="address" name="address" placeholder="Address Line 1" />
                                <div class="invalid-feedback text-danger mb-3" id="address-Text">
                                    enter your Name</div>
                            </span>
                            <span class="ec-bill-wrap">
                                <label>Location</label>
                                <input id="location" type="text" name="location" placeholder=" current location" />
                                <div class="invalid-feedback text-danger mb-3" id="location-Text">
                                    enter your location</div>
                            </span>
                            <span class="ec-bill-wrap">
                                <label>City</label>
                                <input id="city" type="text" name="City" placeholder=" current city" />
                                <div class="invalid-feedback text-danger mb-3" id="city-Text">enter
                                    your city</div>
                            </span>
                            <span class="ec-bill-wrap ec-bill-half">
                                <label>Post Code</label>
                                <input type="text" id="pinValidation" name="pincode" placeholder="Pin code" />
                                <div class="invalid-feedback text-danger mb-3" id="text-pin">Enter
                                    your pin </div>
                            </span>
                            <span class="ec-bill-wrap">
                                <label>state</label>
                                <input id="state" type="text" name="state" placeholder="state" />
                                <div class="invalid-feedback text-danger mb-3" id="state-Text">Enter
                                    your state </div>
                            </span>


                            <input type="text" name="userId" value="<%=user._id%>" id="" hidden>

                            <div style="display: flex; justify-content: right; width: 100%; padding-top: 10px;">
                                <button id="submitbtn" class="btn btn btn-primary " type="submit">Submit</button>

                                <div id="spinninerId"
                                    style="    margin-top: 16px;margin-right: 20px; background-color:rgb(10, 20, 153) ;"
                                    class="spinner-grow spinner-grow-md" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>


                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" id="edit-userAddressed">
                        <span class="ec-bill-wrap ec-bill-half">
                            <label>First Name*</label>
                            <input id="add-fname" type="text" name="name" placeholder="Enter your Name">
                            <div class="invalid-feedback text-danger mb-3" id="add-name-Text">enter
                                your Name</div>
                        </span>

                        <span class="ec-bill-wrap ec-bill-half">
                            <label>Number*</label>
                            <input id="add-numberValidation" type="text" name="number" placeholder="Enter your Number"
                                maxlength="10" />
                            <div class="invalid-feedback text-danger mb-3" id="addtext-Number">
                                Enter your phone number </div>
                        </span>
                        <span class="ec-bill-wrap">
                            <label>Address</label>
                            <input type="text" id="add-address" name="address" placeholder="Address Line 1" />
                            <div class="invalid-feedback text-danger mb-3" id="addaddress-Text">
                                enter your Name</div>
                        </span>
                        <span class="ec-bill-wrap">
                            <label>Location</label>
                            <input id="add-location" type="text" name="location" placeholder=" current location" />
                            <div class="invalid-feedback text-danger mb-3" id="addlocation-Text">
                                enter your location</div>
                        </span>
                        <span class="ec-bill-wrap">
                            <label>City</label>
                            <input id="add-city" type="text" name="City" placeholder=" current city" />
                            <div class="invalid-feedback text-danger mb-3" id="addcity-Text">enter
                                your city</div>
                        </span>
                        <span class="ec-bill-wrap ec-bill-half">
                            <label>Post Code</label>
                            <input type="text" id="add-pinValidation" name="pincode" placeholder="Pin code" />
                            <div class="invalid-feedback text-danger mb-3" id="addtext-pin">Enter
                                your pin </div>
                        </span>
                        <span class="ec-bill-wrap">
                            <label>state</label>
                            <input id="add-state" type="text" name="state" placeholder="state" />
                            <div class="invalid-feedback text-danger mb-3" id="addstate-Text">Enter
                                your state </div>
                        </span>


                        <input type="text" name="addressId" id="useRaddressId" hidden>
                        <input type="text" name="userId" value="<%=user._id%>" id="" hidden>

                        <div style="display: flex; justify-content: right; width: 100%; padding-top: 10px;">
                            <button id="addsubmitbtn" class="btn btn btn-primary " type="submit">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ekka Cart Start -->
    <div class="ec-side-cart-overlay"></div>
    <div id="ec-side-cart" class="ec-side-cart">
        <div class="ec-cart-inner">
            <div class="ec-cart-top">
                <div class="ec-cart-title">
                    <span class="cart_title">My Cart</span>
                    <button class="ec-close">×</button>
                </div>
                <ul class="eccart-pro-items">
                    <li>
                        <a href="product-left-sidebar.html" class="sidekka_pro_img"><img
                                src="assets/images/product-image/6_1.jpg" alt="product"></a>
                        <div class="ec-pro-content">
                            <a href="product-left-sidebar.html" class="cart_pro_title">T-shirt For Women</a>
                            <span class="cart-price"><span>$76.00</span> x 1</span>
                            <div class="qty-plus-minus">
                                <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                            </div>
                            <a href="javascript:void(0)" class="remove">×</a>
                        </div>
                    </li>
                    <li>
                        <a href="product-left-sidebar.html" class="sidekka_pro_img"><img
                                src="assets/images/product-image/12_1.jpg" alt="product"></a>
                        <div class="ec-pro-content">
                            <a href="product-left-sidebar.html" class="cart_pro_title">Women Leather Shoes</a>
                            <span class="cart-price"><span>$64.00</span> x 1</span>
                            <div class="qty-plus-minus">
                                <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                            </div>
                            <a href="javascript:void(0)" class="remove">×</a>
                        </div>
                    </li>
                    <li>
                        <a href="product-left-sidebar.html" class="sidekka_pro_img"><img
                                src="assets/images/product-image/3_1.jpg" alt="product"></a>
                        <div class="ec-pro-content">
                            <a href="product-left-sidebar.html" class="cart_pro_title">Girls Nylon Purse</a>
                            <span class="cart-price"><span>$59.00</span> x 1</span>
                            <div class="qty-plus-minus">
                                <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                            </div>
                            <a href="javascript:void(0)" class="remove">×</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="ec-cart-bottom">
                <div class="cart-sub-total">
                    <table class="table cart-table">
                        <tbody>
                            <tr>
                                <td class="text-left">Sub-Total :</td>
                                <td class="text-right">$300.00</td>
                            </tr>
                            <tr>
                                <td class="text-left">VAT (20%) :</td>
                                <td class="text-right">$60.00</td>
                            </tr>
                            <tr>
                                <td class="text-left">Total :</td>
                                <td class="text-right primary-color">$360.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="cart_btn">
                    <a href="cart.html" class="btn btn-primary">View Cart</a>
                    <a href="checkout.html" class="btn btn-secondary">Checkout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ekka Cart End -->

    <!-- Ec breadcrumb start -->

    <!-- Ec breadcrumb end -->

    <!-- User profile section -->
    <section class="ec-page-content ec-vendor-uploads ec-user-account section-space-p">
        <div class="container">
            <div class="row">
                <!-- Sidebar Area Start -->
                <div class="ec-shop-leftside ec-vendor-sidebar col-lg-3 col-md-12">
                    <div class="ec-sidebar-wrap">
                        <!-- Sidebar Category Block -->
                        <div class="ec-sidebar-block">
                            <div class="ec-vendor-block">
                                <!-- <div class="ec-vendor-block-bg"></div>
                                <div class="ec-vendor-block-detail">
                                    <img class="v-img" src="assets/images/user/1.jpg" alt="vendor image">
                                    <h5>Mariana Johns</h5>
                                </div> -->
                                <div class="ec-vendor-block-items">
                                    <ul>
                                        <li><a href="/userProfile">User Profile</a></li>
                                        <li><a href="/userAddressManagement">Address</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ec-shop-rightside col-lg-9 col-md-12">
                    <div class="ec-vendor-dashboard-card ec-vendor-setting-card">
                        <div class="ec-vendor-card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="ec-vendor-block-profile">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop">
                                            add address
                                        </button>

                                        <!-- user profile show  -->
                                        <div class="table-responsive ">

                                            <h2 style="display: flex; justify-content: center;" class="m-3">Address</h2>
                                            <table id="addressList" class="table"
                                                style=" border: 1px solid rgba(0, 0, 0, 0.596);">
                                                <thead>
                                                    <tr>

                                                        <th scope="col">Name</th>
                                                        <th scope="col">Number</th>
                                                        <th scope="col">Location</th>

                                                        <th scope="col">State</th>
                                                        <th scope="col">Address</th>
                                                        <th scope="col">City</th>
                                                        <th scope="col">Edit</th>
                                                        <th scope="col">Delete</th>



                                                    </tr>

                                                    <% for(var i=0; i < addresss.length; i++) { %>

                                                        <tr>

                                                            <td>
                                                                <%= addresss[i].address.name %>
                                                            </td>
                                                            <td>
                                                                <%= addresss[i].address.number%>
                                                            </td>
                                                            <td>
                                                                <%= addresss[i].address.location %>
                                                            </td>

                                                            <td>
                                                                <%= addresss[i].address.state %>
                                                            </td>
                                                            <td>
                                                                <%= addresss[i].address.address %>
                                                            </td>
                                                            <td>
                                                                <%= addresss[i].address.City %>
                                                            </td>
                                                            <td>
                                                                <button
                                                                    onclick="editAddress('<%= addresss[i].address.addresId %>')">Edit</button>
                                                            </td>

                                                            <td><button
                                                                    onclick='deleteAddress("<%= addresss[i]._id %>","<%= addresss[i].address.addresId %>")'>delete</button>
                                                            </td>

                                                        </tr>
                                                        <% } %>

                                                            </tbody>
                                            </table>
                                        </div>




                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End User profile section -->

    <!-- Footer Start -->
    <%- include('../partials/userfooter') %>
    <!-- Footer Area End -->

    <!-- Modal -->
    <div class="modal fade" id="edit_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="ec-vendor-block-img space-bottom-30">
                            <div class="ec-vendor-block-bg cover-upload">
                                <div class="thumb-upload">
                                    <!-- edit cover pic -->

                                    <!-- <div class="thumb-edit">
                                        <input type='file' id="thumbUpload01" class="ec-image-upload"
                                            accept=".png, .jpg, .jpeg" />
                                        <label><img src="assets/images/icons/edit.svg"
                                                class="svg_img header_svg" alt="edit" /></label>
                                    </div> -->
                                    <div class="thumb-preview ec-preview">
                                        <div class="image-thumb-preview">
                                            <img class="image-thumb-preview ec-image-preview v-img"
                                                src="assets/images/banner/8.jpg" alt="edit" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ec-vendor-block-detail">
                                <div class="thumb-upload">
                                    <div class="thumb-edit">
                                        <input type='file' id="thumbUpload02" class="ec-image-upload"
                                            accept=".png, .jpg, .jpeg" />
                                        <label><img src="assets/images/icons/edit.svg" class="svg_img header_svg"
                                                alt="edit" /></label>
                                    </div>
                                    <div class="thumb-preview ec-preview">
                                        <div class="image-thumb-preview">
                                            <img class="image-thumb-preview ec-image-preview v-img"
                                                src="assets/images/user/1.jpg" alt="edit" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ec-vendor-upload-detail">
                                <form class="row g-3">
                                    <div class="col-md-6 space-t-15">
                                        <label class="form-label">First name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6 space-t-15">
                                        <label class="form-label">Last name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-12 space-t-15">
                                        <label class="form-label">Address 1</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-12 space-t-15">
                                        <label class="form-label">Address 2</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-12 space-t-15">
                                        <label class="form-label">Address 3</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6 space-t-15">
                                        <label class="form-label">Email id 1</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6 space-t-15">
                                        <label class="form-label">Email id 2</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6 space-t-15">
                                        <label class="form-label">Phone number 1</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6 space-t-15">
                                        <label class="form-label">Phone number 2</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-12 space-t-15">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                        <a href="#" class="btn btn-lg btn-secondary qty_close" data-bs-dismiss="modal"
                                            aria-label="Close">Close</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end -->

    <!-- Footer navigation panel for responsive display -->
    <%- include('../partials/footerIcons') %>
    <!-- Footer navigation panel for responsive display end -->

    <!-- Recent Purchase Popup  -->

    <!-- Recent Purchase Popup end -->

    <!-- Cart Floating Button -->
    <div class="ec-cart-float">
        <a href="#ec-side-cart" class="ec-header-btn ec-side-toggle">
            <div class="header-icon"><img src="assets/images/icons/cart.svg" class="svg_img header_svg" alt="" /></div>
            <span class="ec-cart-count cart-count-lable">3</span>
        </a>
    </div>
    <!-- Cart Floating Button end -->

    <!-- Whatsapp -->
    <div class="ec-style ec-right-bottom">
        <!-- Start Floating Panel Container -->
        <div class="ec-panel">
            <!-- Panel Header -->
            <div class="ec-header">
                <strong>Need Help?</strong>
                <p>Chat with us on WhatsApp</p>
            </div>
            <!-- Panel Content -->
            <div class="ec-body">
                <ul>
                    <!-- Start Single Contact List -->
                    <li>
                        <a class="ec-list" data-number="918866774266"
                            data-message="Please help me! I have got wrong product - ORDER ID is : #654321485">
                            <div class="d-flex bd-highlight">
                                <!-- Profile Picture -->
                                <div class="ec-img-cont">
                                    <img src="assets/images/whatsapp/profile_01.jpg" class="ec-user-img"
                                        alt="Profile image">
                                    <span class="ec-status-icon"></span>
                                </div>
                                <!-- Display Name & Last Seen -->
                                <div class="ec-user-info">
                                    <span>Sahar Darya</span>
                                    <p>Sahar left 7 mins ago</p>
                                </div>
                                <!-- Chat iCon -->
                                <div class="ec-chat-icon">
                                    <i class="fa fa-whatsapp"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!--/ End Single Contact List -->
                    <!-- Start Single Contact List -->
                    <li>
                        <a class="ec-list" data-number="918866774266"
                            data-message="Please help me! I have got wrong product - ORDER ID is : #654321485">
                            <div class="d-flex bd-highlight">
                                <!-- Profile Picture -->
                                <div class="ec-img-cont">
                                    <img src="assets/images/whatsapp/profile_02.jpg" class="ec-user-img"
                                        alt="Profile image">
                                    <span class="ec-status-icon ec-online"></span>
                                </div>
                                <!-- Display Name & Last Seen -->
                                <div class="ec-user-info">
                                    <span>Yolduz Rafi</span>
                                    <p>Yolduz is online</p>
                                </div>
                                <!-- Chat iCon -->
                                <div class="ec-chat-icon">
                                    <i class="fa fa-whatsapp"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!--/ End Single Contact List -->
                    <!-- Start Single Contact List -->
                    <li>
                        <a class="ec-list" data-number="918866774266"
                            data-message="Please help me! I have got wrong product - ORDER ID is : #654321485">
                            <div class="d-flex bd-highlight">
                                <!-- Profile Picture -->
                                <div class="ec-img-cont">
                                    <img src="assets/images/whatsapp/profile_03.jpg" class="ec-user-img"
                                        alt="Profile image">
                                    <span class="ec-status-icon ec-offline"></span>
                                </div>
                                <!-- Display Name & Last Seen -->
                                <div class="ec-user-info">
                                    <span>Nargis Hawa</span>
                                    <p>Nargis left 30 mins ago</p>
                                </div>
                                <!-- Chat iCon -->
                                <div class="ec-chat-icon">
                                    <i class="fa fa-whatsapp"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!--/ End Single Contact List -->
                    <!-- Start Single Contact List -->
                    <li>
                        <a class="ec-list" data-number="918866774266"
                            data-message="Please help me! I have got wrong product - ORDER ID is : #654321485">
                            <div class="d-flex bd-highlight">
                                <!-- Profile Picture -->
                                <div class="ec-img-cont">
                                    <img src="assets/images/whatsapp/profile_04.jpg" class="ec-user-img"
                                        alt="Profile image">
                                    <span class="ec-status-icon ec-offline"></span>
                                </div>
                                <!-- Display Name & Last Seen -->
                                <div class="ec-user-info">
                                    <span>Khadija Mehr</span>
                                    <p>Khadija left 50 mins ago</p>
                                </div>
                                <!-- Chat iCon -->
                                <div class="ec-chat-icon">
                                    <i class="fa fa-whatsapp"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!--/ End Single Contact List -->
                </ul>
            </div>
        </div>
        <!--/ End Floating Panel Container -->
        <!-- Start Right Floating Button-->

        <!--/ End Right Floating Button-->
    </div>
    <!-- Whatsapp end -->

    <!-- Feature tools -->
    <div class="ec-tools-sidebar-overlay"></div>
    <div class="ec-tools-sidebar">
        <div class="tool-title">
            <h3>Features</h3>
        </div>
        <a href="#" class="ec-tools-sidebar-toggle in-out">
            <img alt="icon" src="assets/images/common/settings.png" />
        </a>
        <div class="ec-tools-detail">
            <div class="ec-tools-sidebar-content ec-change-color ec-color-desc">
                <h3>Color Scheme</h3>
                <ul class="bg-panel">
                    <li class="active" data-color="01"><a href="#" class="colorcode1"></a></li>
                    <li data-color="02"><a href="#" class="colorcode2"></a></li>
                    <li data-color="03"><a href="#" class="colorcode3"></a></li>
                    <li data-color="04"><a href="#" class="colorcode4"></a></li>
                    <li data-color="05"><a href="#" class="colorcode5"></a></li>
                </ul>
            </div>
            <div class="ec-tools-sidebar-content">
                <h3>Backgroung</h3>
                <ul class="bg-panel">
                    <li class="bg"><a class="back-bg-1" id="bg-1">Background-1</a></li>
                    <li class="bg"><a class="back-bg-2" id="bg-2">Background-2</a></li>
                    <li class="bg"><a class="back-bg-3" id="bg-3">Background-3</a></li>
                    <li class="bg"><a class="back-bg-4" id="bg-4">Default</a></li>
                </ul>
            </div>
            <div class="ec-tools-sidebar-content">
                <h3>Full Screen mode</h3>
                <div class="ec-fullscreen-mode">
                    <div class="ec-fullscreen-switch">
                        <div class="ec-fullscreen-btn">Mode</div>
                        <div class="ec-fullscreen-on">On</div>
                        <div class="ec-fullscreen-off">Off</div>
                    </div>
                </div>
            </div>
            <div class="ec-tools-sidebar-content">
                <h3>Dark mode</h3>
                <div class="ec-change-mode">
                    <div class="ec-mode-switch">
                        <div class="ec-mode-btn">Mode</div>
                        <div class="ec-mode-on">On</div>
                        <div class="ec-mode-off">Off</div>
                    </div>
                </div>
            </div>
            <div class="ec-tools-sidebar-content">
                <h3>RTL mode</h3>
                <div class="ec-change-rtl">
                    <div class="ec-rtl-switch">
                        <div class="ec-rtl-btn">Rtl</div>
                        <div class="ec-rtl-on">On</div>
                        <div class="ec-rtl-off">Off</div>
                    </div>
                </div>
            </div>
            <div class="ec-tools-sidebar-content">
                <h3>Clear local storage</h3>
                <a class="clear-cach" href="javascript:void(0)">Clear Cache & Default</a>
            </div>
        </div>
    </div>
    <!-- Feature tools end -->

    <!-- Vendor JS -->
    <script data-cfasync="false"
        src="https://loopinfosol.in/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/bootstrap-tagsinput.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="assets/js/vendor/jquery.magnific-popup.min.js"></script>

    <!--Plugins JS-->
    <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/nouislider.js"></script>
    <script src="assets/js/plugins/countdownTimer.min.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.zoom.min.js"></script>
    <script src="assets/js/plugins/slick.min.js"></script>
    <script src="assets/js/plugins/infiniteslidev2.js"></script>
    <script src="assets/js/plugins/jquery.sticky-sidebar.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Main Js -->
    <script src="assets/js/main.js"></script>


    <script>
        function editAddress(id) {
            $.ajax({
                url: '/findOneUserAddress',
                data: { id: id },
                method: 'post',
                success: (response) => {
                    if (response.status) {
                        console.log(response.address[0].address);
                        document.getElementById('add-fname').value = response.address[0].address.name
                        document.getElementById('add-numberValidation').value = response.address[0].address.number
                        document.getElementById('add-location').value = response.address[0].address.location
                        document.getElementById('add-pinValidation').value = response.address[0].address.pincode
                        document.getElementById('add-city').value = response.address[0].address.City
                        document.getElementById('add-state').value = response.address[0].address.state
                        document.getElementById('add-address').value = response.address[0].address.address
                        document.getElementById('useRaddressId').value = response.address[0].address.addresId

                        $("#exampleModal1").modal("show");
                    } else {
                        alert('something error please try again')
                    }
                }
            })
        }

        var editnameValidated = true
        var editphoneValidated = true
        var editaddressValidated = true
        var editlocationValidated = true
        var editpinValidated = true
        var editcityValidated = true
        var editstateValidated = true


        $("#add-fname").keyup(function () {
            if ($("#add-fname").val().match(/^[A-Za-z][A-Za-z\ ]/)) {
                $("#add-name-Text").show();
                $("#add-name-Text").text(" ");
                editnameValidated = true;
            } else {
                $("#add-name-Text").show();
                $("#add-name-Text").text("Invalid name! try again");
                $("#add-name-Text").css("class", "invalid-feedback");
                editnameValidated = false;
            }
            $("#add-fname").keypress(function (num) {
                if ((num.charCode >= 33 && num.charCode <= 64) || (num.charCode >= 91 && num.charCode <= 96) || (num.charCode >= 123 && num.charCode <= 126)) {
                    num.preventDefault();
                }
            });
            if ($("#add-fname").val().length < 3) {
                $("#add-name-Text").show();
                $("#add-name-Text").text("Name should have type morethan 3 characters");
                $("#add-name-Text").css("class", "invalid-feedback");
                editnameValidated = false;
            }
        });
        $("#add-fname").blur(function () {
            if ($("#add-fname").val() == "") {
                $("#add-name-Text").show();
                $("#add-name-Text").text("Name should not be empty!");
                $("#add-name-Text").css("class", "invalid-feedback");
                editnameValidated = false;
            }
        });


        $("#add-numberValidation").keypress(function (num) {
            return num.charCode >= 48 && num.charCode <= 57;
        });
        $("#add-numberValidation").keyup(function () {
            if ($("#add-numberValidation").val().match(/^\d+$/)) {
                $("#addtext-Number").show();
                $("#addtext-Number").text(" ");
                editphoneValidated = true;
            }
            if ($("#add-numberValidation").val().length < 10) {
                $("#addtext-Number").show();
                $("#addtext-Number").text("Phone number should be 10 digits!");
                $("#addtext-Number").css("class", "invalid-feedback");
                editphoneValidated = false;
            }
        });

        $("#add-numberValidation").blur(function () {
            if ($("#numberValidation").val() == "") {
                $("#addtext-Number").show();
                $("#addtext-Number").text("Phone number is required!");
                $("#addtext-Number").css("class", "invalid-feedback");
                editphoneValidated = false;
            }
        });


        $("#add-address").keyup(function () {
            if ($("#add-address").val().match(/^[A-Za-z][A-Za-z\ ]/)) {
                $("#addaddress-Text").show();
                $("#addaddress-Text").text(" ");
                editaddressValidated = true;
            } else {
                $("#addaddress-Text").show();
                $("#addaddress-Text").text("Invalid Address! try again");
                $("#addaddress-Text").css("class", "invalid-feedback");
                editaddressValidated = false;
            }
            $("#add-address").keypress(function (num) {
                if ((num.charCode >= 33 && num.charCode <= 64) || (num.charCode >= 91 && num.charCode <= 96) || (num.charCode >= 123 && num.charCode <= 126)) {
                    num.preventDefault();
                }
            });
            if ($("#add-address").val().length < 3) {
                $("#addaddress-Text").show();
                $("#addaddress-Text").text("Address should have type morethan 3 characters");
                $("#addaddress-Text").css("class", "invalid-feedback");
                editaddressValidated = false;
            }
        });
        $("#add-address").blur(function () {
            if ($("#add-address").val() == "") {
                $("#addaddress-Text").show();
                $("#addaddress-Text").text("Address should not be empty!");
                $("#addaddress-Text").css("class", "invalid-feedback");
                editaddressValidated = false;
            }
        });

        $("#add-location").keyup(function () {
            if ($("#add-location").val().match(/^[A-Za-z][A-Za-z\ ]/)) {
                $("#addlocation-Text").show();
                $("#addlocation-Text").text(" ");
                editlocationValidated = true;
            } else {
                $("#addlocation-Text").show();
                $("#addlocation-Text").text("Invalid location! try again");
                $("#addlocation-Text").css("class", "invalid-feedback");
                editlocationValidated = false;
            }
            $("#add-location").keypress(function (num) {
                if ((num.charCode >= 33 && num.charCode <= 64) || (num.charCode >= 91 && num.charCode <= 96) || (num.charCode >= 123 && num.charCode <= 126)) {
                    num.preventDefault();
                }
            });
            if ($("#add-location").val().length < 3) {
                $("#addlocation-Text").show();
                $("#addlocation-Text").text("location should have type morethan 3 characters");
                $("#addlocation-Text").css("class", "invalid-feedback");
                editlocationValidated = false;
            }
        });
        $("#add-location").blur(function () {
            if ($("#location").val() == "") {
                $("#addlocation-Text").show();
                $("#addlocation-Text").text("location should not be empty!");
                $("#addlocation-Text").css("class", "invalid-feedback");
                editlocationValidated = false;
            }
        });

        $("#add-city").keyup(function () {
            if ($("#add-city").val().match(/^[A-Za-z][A-Za-z\ ]/)) {
                $("#addcity-Text").show();
                $("#addcity-Text").text(" ");
                editcityValidated = true;
            } else {
                $("#addcity-Text").show();
                $("#addcity-Text").text("Invalid city! try again");
                $("#addcity-Text").css("class", "invalid-feedback");
                editcityValidated = false;
            }
            $("#add-city").keypress(function (num) {
                if ((num.charCode >= 33 && num.charCode <= 64) || (num.charCode >= 91 && num.charCode <= 96) || (num.charCode >= 123 && num.charCode <= 126)) {
                    num.preventDefault();
                }
            });
            if ($("#add-city").val().length < 3) {
                $("#addcity-Text").show();
                $("#addcity-Text").text("city should have type morethan 3 characters");
                $("#addcity-Text").css("class", "invalid-feedback");
                editcityValidated = false;
            }
        });
        $("#add-city").blur(function () {
            if ($("#add-city").val() == "") {
                $("#addcity-Text").show();
                $("#addcity-Text").text("city should not be empty!");
                $("#addcity-Text").css("class", "invalid-feedback");
                editcityValidated = false;
            }
        });



        $("#add-pinValidation").keypress(function (num) {
            return num.charCode >= 48 && num.charCode <= 57;
        });
        $("#add-pinValidation").keyup(function () {
            if ($("#add-pinValidation").val().match(/^\d+$/)) {
                $("#addtext-pin").show();
                $("#addtext-pin").text(" ");
                editpinValidated = true;
            }
            if ($("#add-pinValidation").val().length < 6) {
                $("#addtext-pin").show();
                $("#addtext-pin").text("pin should be 6 digits!");
                $("#addtext-pin").css("class", "invalid-feedback");
                editpinValidated = false;
            }
        });

        $("#add-pinValidation").blur(function () {
            if ($("#add-pinValidation").val() == "") {
                $("#addtext-pin").show();
                $("#addtext-pin").text("Pin is required!");
                $("#addtext-pin").css("class", "invalid-feedback");
                editpinValidated = false;
            }
        });






        $("#add-state").keyup(function () {
            if ($("#add-state").val().match(/^[A-Za-z][A-Za-z\ ]/)) {
                $("#addstate-Text").show();
                $("#addstate-Text").text(" ");
                editstateValidated = true;
            } else {
                $("#addstate-Text").show();
                $("#addstate-Text").text("Invalid city! try again");
                $("#addstate-Text").css("class", "invalid-feedback");
                editstateValidated = false;
            }
            $("#add-state").keypress(function (num) {
                if ((num.charCode >= 33 && num.charCode <= 64) || (num.charCode >= 91 && num.charCode <= 96) || (num.charCode >= 123 && num.charCode <= 126)) {
                    num.preventDefault();
                }
            });
            if ($("#add-state").val().length < 3) {
                $("#addstate-Text").show();
                $("#addstate-Text").text("city should have type morethan 3 characters");
                $("#addstate-Text").css("class", "invalid-feedback");
                editstateValidated = false;
            }
        });
        $("#add-state").blur(function () {
            if ($("#add-state").val() == "") {
                $("#addstate-Text").show();
                $("#addstate-Text").text("city should not be empty!");
                $("#addstate-Text").css("class", "invalid-feedback");
                editstateValidated = false;
            }
        });




        $("#edit-userAddressed").submit(function (num) {
            if ($("#add-fname").val() == "" || $("#add-numberValidation").val() == "" ||
                $("#add-address").val() == "" || $("#add-location").val() == "" || $("#add-city").val() == ""
                || $("#add-pinValidation").val() == "" || $("#add-state").val() == "") {
                Swal.fire(
                    'Unknown error !',
                    'please fill the form properly',
                    'warning'
                )
            }
            if ($("#add-fname").val() == "" && $("#add-numberValidation").val() == ""
                && $("#add-address").val() == "" && $("#add-location").val() == "" && $("#add-city").val() == ""
                && $("#add-pinValidation").val() == "" && $("#add-state").val() == "") {
                num.preventDefault();
                $("#add-name-Text").show();
                $("#addtext-Number").show();
                $("#addaddress-Text").show();
                $("#addlocation-Text").show();
                $("#addcity-Text").show();
                $("#addtext-pin").show();
                $("#addstate-Text").show();
            } else if (
                editnameValidated &&
                editphoneValidated &&
                editaddressValidated &&
                editlocationValidated &&
                editpinValidated &&
                editcityValidated &&
                editstateValidated

            ) {
                num.preventDefault();

                $.ajax({
                    url: '/edituserAddresss',
                    data: $('#edit-userAddressed').serialize(),
                    method: 'post',
                    success: (response) => {
                        if (response.status) {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Your address has been edit',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            location.reload();
                        }
                    }
                })

            } else {
                // $("#add-name-Text").show();
                // $("#addtext-Number").show();
                // $("#addaddress-Text").show();
                // $("#addlocation-Text").show();
                // $("#addcity-Text").show();
                // $("#addtext-pin").show();
                // $("#addstate-Text").show();
                num.preventDefault();
            }
        });




    </script>
    <script>
        $('#spinninerId').hide();


        $('#add-Address').submit((num) => {
            num.preventDefault()

            $('#submitbtn').hide();
            $('#spinninerId').show();
            $.ajax({
                url: '/addAddressCheckout',
                data: $('#add-Address').serialize(),
                method: 'post',
                success: (response) => {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Your address has been saved',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    location.reload();

                }
            })
        })
        function deleteAddress(_id, addressId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't delete this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'delete'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/deleteUserAddress',
                        data: {
                            _id: _id,
                            addressId: addressId
                        },
                        method: 'post',
                        success: (response) => {
                            if (response.status) {
                                Swal.fire(
                                    'Deleted!',
                                    'Your address has been deleted.',
                                    'success'
                                )
                                $("#addressList").load(location.href + " #addressList");
                            } else {
                                alert('somthing error')
                            }
                        }
                    })

                }
            })
            // alert(_id)
            // alert(addressId)
        }


        var nameValidated = false;
        var phoneValidated = false;
        var addressValidated = false;
        var locationValidated = false;
        var pinValidated = false;
        var cityValidated = false;
        var stateValidated = false;


        $("#fname").keyup(function () {
            if ($("#fname").val().match(/^[A-Za-z][A-Za-z\ ]/)) {
                $("#name-Text").show();
                $("#name-Text").text(" ");
                nameValidated = true;
            } else {
                $("#name-Text").show();
                $("#name-Text").text("Invalid name! try again");
                $("#name-Text").css("class", "invalid-feedback");
                nameValidated = false;
            }
            $("#fname").keypress(function (num) {
                if ((num.charCode >= 33 && num.charCode <= 64) || (num.charCode >= 91 && num.charCode <= 96) || (num.charCode >= 123 && num.charCode <= 126)) {
                    num.preventDefault();
                }
            });
            if ($("#fname").val().length < 3) {
                $("#name-Text").show();
                $("#name-Text").text("Name should have type morethan 3 characters");
                $("#name-Text").css("class", "invalid-feedback");
                nameValidated = false;
            }
        });
        $("#fname").blur(function () {
            if ($("#fname").val() == "") {
                $("#name-Text").show();
                $("#name-Text").text("Name should not be empty!");
                $("#name-Text").css("class", "invalid-feedback");
                nameValidated = false;
            }
        });


        $("#numberValidation").keypress(function (num) {
            return num.charCode >= 48 && num.charCode <= 57;
        });
        $("#numberValidation").keyup(function () {
            if ($("#numberValidation").val().match(/^\d+$/)) {
                $("#text-Number").show();
                $("#text-Number").text(" ");
                phoneValidated = true;
            }
            if ($("#numberValidation").val().length < 10) {
                $("#text-Number").show();
                $("#text-Number").text("Phone number should be 10 digits!");
                $("#text-Number").css("class", "invalid-feedback");
                phoneValidated = false;
            }
        });

        $("#numberValidation").blur(function () {
            if ($("#numberValidation").val() == "") {
                $("#text-Number").show();
                $("#text-Number").text("Phone number is required!");
                $("#text-Number").css("class", "invalid-feedback");
                phoneValidated = false;
            }
        });


        $("#address").keyup(function () {
            if ($("#address").val().match(/^[A-Za-z][A-Za-z\ ]/)) {
                $("#address-Text").show();
                $("#address-Text").text(" ");
                addressValidated = true;
            } else {
                $("#address-Text").show();
                $("#address-Text").text("Invalid Address! try again");
                $("#address-Text").css("class", "invalid-feedback");
                addressValidated = false;
            }
            $("#address").keypress(function (num) {
                if ((num.charCode >= 33 && num.charCode <= 64) || (num.charCode >= 91 && num.charCode <= 96) || (num.charCode >= 123 && num.charCode <= 126)) {
                    num.preventDefault();
                }
            });
            if ($("#address").val().length < 3) {
                $("#address-Text").show();
                $("#address-Text").text("Address should have type morethan 3 characters");
                $("#address-Text").css("class", "invalid-feedback");
                addressValidated = false;
            }
        });
        $("#address").blur(function () {
            if ($("#address").val() == "") {
                $("#address-Text").show();
                $("#address-Text").text("Address should not be empty!");
                $("#address-Text").css("class", "invalid-feedback");
                addressValidated = false;
            }
        });

        $("#location").keyup(function () {
            if ($("#location").val().match(/^[A-Za-z][A-Za-z\ ]/)) {
                $("#location-Text").show();
                $("#location-Text").text(" ");
                locationValidated = true;
            } else {
                $("#location-Text").show();
                $("#location-Text").text("Invalid location! try again");
                $("#location-Text").css("class", "invalid-feedback");
                locationValidated = false;
            }
            $("#location").keypress(function (num) {
                if ((num.charCode >= 33 && num.charCode <= 64) || (num.charCode >= 91 && num.charCode <= 96) || (num.charCode >= 123 && num.charCode <= 126)) {
                    num.preventDefault();
                }
            });
            if ($("#location").val().length < 3) {
                $("#location-Text").show();
                $("#location-Text").text("location should have type morethan 3 characters");
                $("#location-Text").css("class", "invalid-feedback");
                locationValidated = false;
            }
        });
        $("#location").blur(function () {
            if ($("#location").val() == "") {
                $("#location-Text").show();
                $("#location-Text").text("location should not be empty!");
                $("#location-Text").css("class", "invalid-feedback");
                locationValidated = false;
            }
        });

        $("#city").keyup(function () {
            if ($("#city").val().match(/^[A-Za-z][A-Za-z\ ]/)) {
                $("#city-Text").show();
                $("#city-Text").text(" ");
                cityValidated = true;
            } else {
                $("#city-Text").show();
                $("#city-Text").text("Invalid city! try again");
                $("#city-Text").css("class", "invalid-feedback");
                cityValidated = false;
            }
            $("#city").keypress(function (num) {
                if ((num.charCode >= 33 && num.charCode <= 64) || (num.charCode >= 91 && num.charCode <= 96) || (num.charCode >= 123 && num.charCode <= 126)) {
                    num.preventDefault();
                }
            });
            if ($("#city").val().length < 3) {
                $("#city-Text").show();
                $("#city-Text").text("city should have type morethan 3 characters");
                $("#city-Text").css("class", "invalid-feedback");
                cityValidated = false;
            }
        });
        $("#city").blur(function () {
            if ($("#city").val() == "") {
                $("#city-Text").show();
                $("#city-Text").text("city should not be empty!");
                $("#city-Text").css("class", "invalid-feedback");
                cityValidated = false;
            }
        });



        $("#pinValidation").keypress(function (num) {
            return num.charCode >= 48 && num.charCode <= 57;
        });
        $("#pinValidation").keyup(function () {
            if ($("#pinValidation").val().match(/^\d+$/)) {
                $("#text-pin").show();
                $("#text-pin").text(" ");
                pinValidated = true;
            }
            if ($("#pinValidation").val().length < 6) {
                $("#text-pin").show();
                $("#text-pin").text("pin should be 6 digits!");
                $("#text-pin").css("class", "invalid-feedback");
                pinValidated = false;
            }
        });

        $("#pinValidation").blur(function () {
            if ($("#pinValidation").val() == "") {
                $("#text-pin").show();
                $("#text-pin").text("Pin is required!");
                $("#text-pin").css("class", "invalid-feedback");
                pinValidated = false;
            }
        });






        $("#state").keyup(function () {
            if ($("#state").val().match(/^[A-Za-z][A-Za-z\ ]/)) {
                $("#state-Text").show();
                $("#state-Text").text(" ");
                stateValidated = true;
            } else {
                $("#state-Text").show();
                $("#state-Text").text("Invalid city! try again");
                $("#state-Text").css("class", "invalid-feedback");
                stateValidated = false;
            }
            $("#state").keypress(function (num) {
                if ((num.charCode >= 33 && num.charCode <= 64) || (num.charCode >= 91 && num.charCode <= 96) || (num.charCode >= 123 && num.charCode <= 126)) {
                    num.preventDefault();
                }
            });
            if ($("#state").val().length < 3) {
                $("#state-Text").show();
                $("#state-Text").text("city should have type morethan 3 characters");
                $("#state-Text").css("class", "invalid-feedback");
                stateValidated = false;
            }
        });
        $("#state").blur(function () {
            if ($("#state").val() == "") {
                $("#state-Text").show();
                $("#state-Text").text("city should not be empty!");
                $("#state-Text").css("class", "invalid-feedback");
                stateValidated = false;
            }
        });



        $("#checkout-form").submit(function (num) {
            if ($("#fname").val() == "" || $("#numberValidation").val() == "" ||
                $("#address").val() == "" || $("#location").val() == "" || $("#city").val() == ""
                || $("#pinValidation").val() == "" || $("#state").val() == "") {
                // alert("please fill the form properly");
                Swal.fire(
                    'Unknown error !',
                    'please fill the form properly',
                    'warning'
                )
            }
            if ($("#fname").val() == "" && $("#numberValidation").val() == ""
                && $("#address").val() == "" && $("#location").val() == "" && $("#city").val() == ""
                && $("#pinValidation").val() == "" && $("#state").val() == "") {
                num.preventDefault();
                console.log('com in if');
                $("#name-Text").show();
                $("#text-Number").show();
                $("#address-Text").show();
                $("#location-Text").show();
                $("#city-Text").show();
                $("#text-pin").show();
                $("#state-Text").show();
            } else if (
                nameValidated &&
                phoneValidated &&
                addressValidated &&
                locationValidated &&
                pinValidated &&
                cityValidated &&
                stateValidated

            ) {
                num.preventDefault();
                $('#submitbtn').hide();
                $('#spinninerId').show();
                $.ajax({
                    url: '/addAddressCheckout',
                    method: 'post',
                    data: $('#checkout-form').serialize(),
                    success: (response) => {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Your address has been saved',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        location.reload();
                        // $("#allAddress").load(location.href + " #allAddress");
                        // $("#add-address-form").load(location.href + " #add-address-form");


                    }
                })

                //   $.ajax({
                //     url: '/signup',
                //     data: $('#siginup_form').serialize(),
                //     method: 'post',
                //     success: (response) => {
                //       if (response.status) {
                //         location.href = '/login'
                //       } else {
                //         document.getElementById('erorrMessage').innerHTML = "sorry change your number"
                //       }
                //     }
                //   })

            } else {
                num.preventDefault();
            }
        });

    </script>

</body>

<!-- Mirrored from loopinfosol.in/themeforest/ekka-html-v2/ekka-html/user-profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Nov 2021 19:18:44 GMT -->

</html>